<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Privacy Policy - Cypher's Laptop</title>
    <meta name="description" content="Track your VALORANT Store within Discord">
    <meta name="twitter:image" content="https://dvbot.nogra.xyz/assets/img/social.png">
    <meta property="og:title" content="Privacy Policy - Cypher's Laptop">
    <meta property="og:image" content="https://dvbot.nogra.xyz/assets/img/social.png">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Track your VALORANT Store within Discord">
    <meta name="twitter:card" content="summary_large_image">
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="./static/img/icons/icon_180.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./static/img/icons/icon_16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./static/img/icons/icon_32.png">
    <link rel="icon" type="image/png" sizes="180x180" href="./static/img/icons/icon_180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="./static/img/icons/icon_192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="./static/img/icons/icon_512.png">
    <link rel="stylesheet" href="./static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&amp;display=swap">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli&amp;display=swap">
    <link rel="stylesheet" href="./static/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="./static/css/untitled.css">
    <link rel="stylesheet" href="./static/css/tos_privacy_styles.css">
    <style>
        .navbar {
  background-color: white !important;
}

.navbar-nav .nav-link {
  color: black !important;
}

.navbar-shrink .navbar-nav .nav-link {
  color: black !important;
}
    </style>
</head>

<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="56">
<nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
    <div class="container"><a class="navbar-brand" href="./"
                              style="font-family: Lato, sans-serif;font-weight: bold;"><img
            src="./static/img/icons/icon_32.png" width="32" height="32" style="border-radius: 50%;margin-right: 15px;">Cypher's
        Laptop</a>
        <button data-bs-toggle="collapse" data-bs-target="#navbarResponsive" class="navbar-toggler float-end"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i
                class="fa fa-bars"></i></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item" style="color: black"><a class="nav-link" href="./terms">Terms</a></li>
                <li class="nav-item" style="color: black"><a class="nav-link" href="./privacy">Privacy</a></li>
                <li class="nav-item" style="color: black"><a class="nav-link" href="./invite">Invite</a></li>
            </ul>
        </div>
    </div>
</nav>
<section id="privacy" class="features" style="background: #ffffff;">
    <div class="container">
        <div class=" section-heading">
            <h2>Privacy Policy</h2>
            <h2 id="welcome">Welcome!</h2>
            <p>At Cypher's Laptop ("The Bot", "we", "us", "our"), accessible from the Discord platform through a Discord
                client, one of our main priorities is the privacy of our visitors.</p>
            <p>This document entails the privacy policy and agreement that you accept when using Cypher's Laptop. It
                contains types of information that is collected and recorded by Cypher's Laptop and how we use it. Use
                of this document does not supersede the <a href="https://discordapp.com/developers/docs/legal">Developer
                    Terms of Service</a>. </p>
            <p>Reading this privacy notice will help you understand your privacy rights and choices. If you do not agree
                with our policies and practices, please do not use our Services.</p>
            <h2>Topics</h2>
            <p>You can find out more details about any topic in the Privacy Policy by clicking the link following each key point or by using our table of contents below to find the section you are looking for.</p>
            <ul>
              <li><a href="#information-we-collect">Information we collect</a> - When you use The Bot, we collect information related to your usage, and encrypt important information such as your password.</li>
                <li><a href="#how-we-use-your-data">How we use your data - we use information we collect to help you interact with our Services.</a></li>
              <li><a href="#data-storage">Data Storage</a> - We store your information securely and take measures to protect it from unauthorized access.</li>
                <li><a href="#data-removal">Data Removal</a> - How you can safely request for your data to be removed.</li>
                <li><a href="#links-to-third-party-websites-and-their-privacy-policies">Links to Third-party Websites and their
                Privacy Policies</a></li>
                <li><a href="#information-for-california-users">Information for California Users</a></li>
                <li><a href="#information-for-eea-united-kingdom-and-brazil-users">Information for EEA, United Kingdom, and Brazil
                Users</a></li>
                <li><a href="#childrens-information">Children's Information</a></li>

            </ul>
            <h2 id="information-we-collect">Information we collect</h2>
            <p>When you use Cypher's Laptop, we may collect certain information from you, including your unique Discord
                UUID and the commands you use. If you choose to log in with your Riot Games account, we may also collect
                your Riot Games username, Riot User ID, and an encrypted version of your password using Fernet
                encryption. We do not store your password in its original form.</p>
            <p>Additionally, when you modify your preferences or check your store, we may link that data with your
                Discord UUID and store it in our database. If you have requested a reminder to have your store checked
                automatically, we will permanently store the store data for the date on which it was checked.</p>
            <h2 id="how-we-use-your-data">How we use your data</h2>
            <p>We process the data you provide to us for a variety of reasons, depending on how you interact with our
                Services, including:</p>
            <ul>
                <li><b>To deliver and facilitate delivery of services to the User.</b> We may process your information
                    to provide you with the requested service.
                </li>
                <li><b>To send administrative information to you.</b> We may process your information to send you
                    details about our products and services, changes to our terms and policies, and other similar
                    information.
                </li>
                <li><b>To request feedback.</b> We may process your information when necessary to request feedback and
                    to contact you about your use of our Services.
                </li>
                <li><b>To protect our Services.</b> We may process your information as part of our efforts to keep our
                    Services safe and secure, including fraud monitoring and prevention.
                </li>
                <li><b>To improve our Services.</b> We use your data to assist us in improving our Servies, and to
                    minimise errors generated by The Bot.
                </li>
                <li><b>To identify usage trends.</b> We may process information about how you use our Services to better
                    understand how they are being used so we can improve them.
                </li>
                <li><b>To save or protect an individual's vital interest.</b> We may process your information when
                    necessary to save or protect an individual's vital interest, such as to prevent harm.
                </li>
                <li><b>To comply with the law.</b> We may share information in response to a request for information if
                    we believe disclosure is required by law, including meeting national security or law enforcement
                    requirements. Where allowed and feasible, we will attempt to provide you with prior notice before
                    disclosing your information in response to such a request.
                </li>
            </ul>
            <p>We retain and use your information in connection with potential legal claims when necessary and for
                compliance, regulatory, and auditing purposes. For example, we retain information where we are required
                by law or if we are compelled to do so by a court order or regulatory body.</p>
            <p>Also, when you exercise any of your applicable legal rights to access, amend, or delete your personal
                information, we may request identification and verification documents from you for the purpose of
                confirming your identity.</p>
            <h2 id="data-storage">Data Storage</h2>
            <p>All stored data is kept on protected servers. While storage methods vary, most data is kept within
                password-protected databases such as MongoDB. Please keep in mind that even with these protections, no
                data can ever be 100% secure. All efforts are taken to keep your data secure and private, but its
                absolute security cannot be guaranteed.</p>
            <p>Access to Data is only permitted to The Bot's developers, and only in the scope required for the
                development, testing, and implementation of features for The Bot. Data is not sold, provided to, or
                shared with any third party, except where required by law or a Terms of Service agreement. In the event
                of an unauthorised Data access, users will be notified through the Discord client application.</p>
            <h2 id="data-removal">Data Removal</h2>
            <p>Manual removal of your user data can be requested by contacting the developer through The Bot. If you're
                contacting the developer through another account, you will be asked to provide proof that the account
                belongs to you. Without enough proof, we cannot proceed with the removal of your data.</p>
            <p>All data containing any information that can link that data to you, or your Discord Account, will be
                removed, except in the case where removing it will affect The Bot's ability to function.</p>
            <h2 id="links-to-third-party-websites-and-their-privacy-policies">Links to Third-party Websites and their
                Privacy Policies</h2>
            <p>The Bot may contain (or you may be sent via the Bot) links to other websites ("Third-Party Websites") as
                well as articles, photographs, text, graphics, pictures, designs, music, sound, video, information,
                applications, software, and other content or items belonging to or originating from third parties
                ("Third-Party Content"). Such Third-Party Websites and Third-Party Content are not investigated,
                monitored, or checked for accuracy, appropriateness, or completeness by us, and we are not responsible
                for any Third-Party Websites accessed through the Bot or any Third-Party Content posted on, available
                through, or installed from the Bot, including the content, accuracy, offensiveness, opinions,
                reliability, privacy practices, or other policies of or contained in the Third-Party Websites or the
                Third-Party Content.</p>
            <p>This Privacy Policy does not apply to other websites. Thus, we are advising you to consult the respective
                Privacy Policies of these third-party websites for more detailed information. It may include their
                practices and instructions about how to opt-out of certain options.</p>
            <p>You can choose to disable cookies through your individual browser options. To know more detailed
                information about cookie management with specific web browsers, it can be found at the browsers'
                respective websites.</p>
            <h2 id="information-for-california-users">Information for California Users</h2>
            <p>Consumers residing in California are afforded certain additional rights with respect to their personal
                information under the California Consumer Privacy Act or (“CCPA”) and the “Shine the Light” Law. If you
                are a California resident, this section applies to you.</p>
            <p>Under the CCPA, among other rights, California consumers have the right to:</p>
            <ul>
                <li>Request that a business that collects a consumer's personal data disclose the categories and specific
                pieces of personal data that a business has collected about consumers.</li>
                <li>Request that a business delete any personal data about the consumer that a business has collected.</li>
                <li>Request that a business that sells a consumer's personal data, not sell the consumer's personal data.</li>
            </ul>
            <p>If you make a request, we have one month to respond to you. If you would like to exercise any of these
                rights, please contact us.</p>
            <h2 id="information-for-eea-united-kingdom-and-brazil-users">Information for EEA, United Kingdom, and Brazil
                Users</h2>
            <p>Certain local laws, such as the European Union’s General Data Protection Regulation (GDPR) and Brazil’s
                Lei Geral de Proteção de Dados (LGPD), require services to provide information about the information
                they collect, how they use it, and the lawful basis for processing it.</p>
            <p>We would like to make sure you are fully aware of all of your data protection rights. Every user is
                entitled to the following:</p>
            <ul>
            <li><strong>The right to access</strong> – You have the right to request copies of your personal data. We may
                charge you a small fee for this service.</li>
            <li><strong>The right to rectification</strong> – You have the right to request that we correct any
                information you believe is inaccurate. You also have the right to request that we complete the
                information you believe is incomplete.</li>
            <li><strong>The right to erasure</strong> – You have the right to request that we erase your personal data,
                under certain conditions.</li>
            <li><strong>The right to restrict processing</strong> – You have the right to request that we restrict the
                processing of your personal data, under certain conditions.</li>
            <li><strong>The right to object to processing</strong> – You have the right to object to our processing of
                your personal data, under certain conditions.</li>
            <li><strong>The right to data portability</strong> – You have the right to request that we transfer the data
                that we have collected to another organization, or directly to you, under certain conditions.</li>
            </ul>
            <p>If you make a request, we have one month to respond to you. If you would like to exercise any of these
                rights, please contact us.</p>
            <h2 id="childrens-information">Children's Information</h2>
            <p>Another part of our priority is adding protection for children while using the internet. We encourage
                parents and guardians to observe, participate in, and/or monitor and guide their online activity.</p>
            <p>Cypher's Laptop does not knowingly collect any Personal Identifiable Information from children under the
                age of 13. If you think that your child provided this kind of information to The Bot, we strongly
                encourage you to contact us immediately and we will do our best efforts to promptly remove such
                information from our records.</p>

            <hr>
        </div>

    </div>
</section>

<footer>
    <div class="container">
        <p>© Copyright Argon 2022. All Rights Reserved.</p>
        <p>Cypher's Laptop is not endorsed by Riot Games and does not reflect the views or opinions of Riot Games or
            anyone officially involved in producing or managing Riot Games properties. Riot Games and all associated
            properties are trademarks or registered trademarks of Riot Games, Inc.</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="./privacy">Privacy</a>
            </li>
            <li class="list-inline-item"><a href="./terms">Terms</a></li>
        </ul>
    </div>
</footer>
<script src="./static/bootstrap/js/bootstrap.min.js"></script>
<script src="./static/js/new-age.js"></script>
</body>

</html>