<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Terms of Service - Cypher's Laptop</title>
    <meta name="description" content="Track your VALORANT Store within Discord">
    <meta name="twitter:image" content="https://dvbot.nogra.xyz/assets/img/social.png">
    <meta property="og:title" content="Terms of Service - Cypher's Laptop">
    <meta property="og:image" content="https://dvbot.nogra.xyz/assets/img/social.png">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Track your VALORANT Store within Discord">
    <meta name="twitter:card" content="summary_large_image">
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="./static/img/icons/icon_180.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./static/img/icons/icon_16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./static/img/icons/icon_32.png">
    <link rel="icon" type="image/png" sizes="180x180" href="./static/img/icons/icon_180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="./static/img/icons/icon_192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="./static/img/icons/icon_512.png">
    <link rel="stylesheet" href="./static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&amp;display=swap">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli&amp;display=swap">
    <link rel="stylesheet" href="./static/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="./static/css/untitled.css">
        <style>
        .navbar {
  background-color: white !important;
}

.navbar-nav .nav-link {
  color: black !important;
}

.navbar-shrink .navbar-nav .nav-link {
  color: black !important;
}
    </style>
</head>

<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="56">
<nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
    <div class="container"><a class="navbar-brand" href="./"
                              style="font-family: Lato, sans-serif;font-weight: bold;"><img
            src="./static/img/icons/icon_32.png" width="32" height="32" style="border-radius: 50%;margin-right: 15px;">Cypher's
        Laptop</a>
        <button data-bs-toggle="collapse" data-bs-target="#navbarResponsive" class="navbar-toggler float-end"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i
                class="fa fa-bars"></i></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="./terms">Terms</a></li>
                <li class="nav-item"><a class="nav-link" href="./privacy">Privacy</a></li>
                <li class="nav-item"><a class="nav-link" href="./invite">Invite</a></li>
            </ul>
        </div>
    </div>
</nav>
<section id="terms" class="features" style="background: #ffffff;">
    <div class="container">
        <div class=" section-heading">
            <h2>Terms of Service</h2>
            <h3>Introduction</h3>
            <p>These TOS apply to your use of Nogra's Cypher's Laptop Discord Bot (the "Service"), which allows you to store your Riot Games account login details, including your username and password, to access your store, and link your Riot Games account to your Discord account.</p>
            <h3>License</h3>
            <p>Nogra grants you a limited, non-exclusive, non-transferable, revocable license to access and use the Service for your personal, non-commercial use, subject to these TOS and any other agreements or policies provided by Nogra. You may not modify, reproduce, distribute, create derivative works of, publicly display, publicly perform, republish, download, store, or transmit any of the material on our Service, except as follows:</p>
            <ul>
                <li>Your computer may temporarily store copies of such materials in RAM incidental to your accessing and viewing those materials.</li>
                <li>You may store files that are automatically cached by your Web browser for display enhancement purposes.<br></li>
                <li>You may print or download one copy of a reasonable number of pages of the Service for your own personal, non-commercial use and not for further reproduction, publication, or distribution.</li>
            </ul>
            <h3>User Content</h3>
            <p>You are solely responsible for any information, data, text, software, music, sound, photographs, graphics, video, messages, tags, or other materials ("User Content") that you submit, upload, post, display, or otherwise make available on or through the Service. By submitting User Content, you grant Nogra a worldwide, non-exclusive, transferable, sub-licensable, royalty-free license to use, copy, modify, create derivative works based on, distribute, publicly display, publicly perform, and otherwise exploit in any manner such User Content in all formats and distribution channels now known or hereafter devised (including in connection with the Service and Nogra's business and on third-party sites and services), without further notice to or consent from you, and without the requirement of payment to you or any other person or entity.</p>
            <h3>Prohibited Conduct</h3>
            <p>You agree not to use the Service:</p>
            <ul>
                <li>In any way that violates any applicable federal, state, local, or international law or regulation (including, without limitation, any laws regarding the export of data or software to and from the US or other countries)</li>
                <li>To engage in any conduct that restricts or inhibits anyone's use or enjoyment of the Service, or which, as determined by Nogra, may harm Nogra or users of the Service or expose them to liability.<br></li>
                <li>To use the Service for any illegal or unauthorized purpose.</li>
                <li>To use the Service to collect or store personal information about other users without their express consent.</li>
                <li>To misuse the Service by spamming commands or any other behavior that Nogra determines in its sole discretion to be harmful to Nogra or the Service.<br></li>
                <li>To engage in any other conduct that Nogra determines in its sole discretion is harmful to Nogra, the Service, or any third party.</li>
            </ul>
            <h3>Links to External Websites</h3>
            <p>The Service may include links to external websites, including but not limited to VALORANT-API.com and Riot Games. Nogra is not responsible for the content or services offered by any external website, and your use of any such website is at your own risk.</p>
            <h3>Blacklisting</h3>
            <p>If you misuse the Service, Nogra may, in its sole discretion, blacklist you, preventing you from using the Service or any part thereof.</p>
            <h3>Termination</h3>
            <p>Nogra may, in its sole discretion, terminate your access to the Service or any part thereof at any time, with or without notice.</p>
            <h3>Indemnification</h3>
            <p>You agree to indemnify, defend, and hold harmless Nogra, its affiliates, licensors, and service providers, and its and their respective officers, directors, employees, contractors, agents, licensors, suppliers, successors, and assigns from and against any claims, liabilities, damages, judgments, awards, losses, costs, expenses, or fees (including reasonable attorneys' fees) arising out of or relating to your violation of these TOS or your use of the Service, including, but not limited to, User Content, any use of the Service's content, services, and products other than as expressly authorized in these TOS, or your use of any information obtained from the Service.</p>
            <h3>Disclaimer of Warranties</h3>
            <p>The Service is provided "as is" and "as available" without any warranty of any kind, express or implied, including, without limitation, the implied warranties of merchantability, fitness for a particular purpose, and non-infringement. Nogra makes no warranty that the Service will meet your requirements or be available on an uninterrupted, secure, or error-free basis. Any content downloaded or otherwise obtained through the use of the Service is downloaded at your own risk, and you will be solely responsible for any damage to your computer system or loss of data that results from such download or use.</p>
            <h3>Limitation of Liability</h3>
            <p>In no event will Nogra, its affiliates, licensors, or service providers, or its or their respective officers, directors, employees, contractors, agents, licensors, suppliers, successors, and assigns, be liable for any indirect, incidental, special, consequential, or punitive damages, including, without limitation, loss of profits, data, use, goodwill, or other intangible losses, arising out of or relating to your use of or inability to use the Service, whether based on warranty, contract, tort (including negligence), or any other legal theory, even if Nogra has been advised of the possibility of such damages.</p>
            <h3>Waiver and Severability</h3>
            <p>No waiver by Nogra of any term or condition set forth in these TOS shall be deemed a further or continuing waiver of such term or condition or a waiver of any other term or condition, and any failure of Nogra to assert a right or provision under these TOS shall not constitute a waiver of such right or provision. If any provision of these TOS is held by a court or other tribunal of competent jurisdiction to be invalid, illegal, or unenforceable for any reason, such provision shall be eliminated or limited to the minimum extent such that the remaining provisions of these TOS will continue in full force and effect.</p>
            <h3>Governing Law and Jurisdiction</h3>
            <p> These TOS, your access to and use of the Service, and any claims arising out of or related to the Service will be governed by and construed in accordance with the laws of the State of California, without giving effect to any choice or conflict of law provision or rule. Any legal suit, action, or proceeding arising out of or related to these TOS or the Service shall be instituted exclusively in the federal courts of the United States or the courts of the State of California in each case located in the City of San Francisco and County of San Francisco. You waive any and all objections to the exercise of jurisdiction over you by such courts and to venue in such courts.</p>
            <h3>Entire Agreement</h3>
            <p>Entire Agreement. These TOS, the Privacy Policy, and any other agreements or policies referenced in these TOS constitute the sole and entire agreement between you and Nogra regarding the Service and supersede all prior and contemporaneous understandings, agreements, representations, and warranties, both written and oral, regarding the Service.</p>
            <h3>Assignment</h3>
            <p>You may not assign or transfer these TOS or your rights and obligations hereunder, without the prior written consent of Nogra. Nogra may assign or transfer these TOS or its rights and obligations hereunder, in whole or in part, without restriction.</p>
            <h3>Notices</h3>
            <p>All notices, requests, and other communications hereunder shall be in writing and shall be deemed to have been given if delivered by hand, sent by registered or certified mail, return receipt requested, postage prepaid, or sent by email to the address set forth in your account or profile, or such other address as either party may specify in writing. Notices shall be deemed given on the date of receipt or refusal thereof.</p>
            <h3>Changes to These Terms of Service</h3>
            <p>Nogra reserves the right to modify these TOS at any time and without prior notice, effective upon posting the amended TOS on the Service. Your continued use of the Service after any such amendment to these TOS constitutes your acceptance of such amended TOS. If you do not agree to any such amended TOS, you must stop using the Service.</p>
            <h3>Contact Information</h3>
            <p>If you have any questions or comments about these TOS, please contact Nogra at support@nogra.com.</p>
            <hr>
        </div>

    </div>
</section>

<footer>
    <div class="container">
        <p>© Copyright Argon 2022. All Rights Reserved.</p>
        <p>Cypher's Laptop is not endorsed by Riot Games and does not reflect the views or opinions of Riot Games or
            anyone officially involved in producing or managing Riot Games properties. Riot Games and all associated
            properties are trademarks or registered trademarks of Riot Games, Inc.</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="./privacy">Privacy</a></li>
            <li class="list-inline-item"><a href="./terms">Terms</a></li>
        </ul>
    </div>
</footer>
<script src="./static/bootstrap/js/bootstrap.min.js"></script>
<script src="./static/js/new-age.js"></script>
</body>

</html>