<!DOCTYPE html>
<html lang="en">
<head>
           <title>Title</title>
        <meta charset="UTF-8">
        <meta property="og:type" content="video.other">
        <meta property="og:video" content="{{ video_url }}">
        <meta property="og:video" content="{{ video_url }}">
        <meta property="og:title" content="{{ title }}">
        <meta property="og:site_name" content="Cypher's Laptop">
        <meta property="og:image" content="{{ image }}">
        <meta property="og:description" content="{{ description }}">
        <meta property="og:image:width" content="1280">
        <meta property="og:image:height" content="720">
        <meta property="og:video:width" content="1280">
        <meta property="og:video:height" content="720">
</head>
<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="56">
        <p>© Copyright Argon 2022. All Rights Reserved.</p>
        <p>Cypher's Laptop is not endorsed by Riot Games and does not reflect the views or opinions of Riot Games or
            anyone officially involved in producing or managing Riot Games properties. Riot Games and all associated
            properties are trademarks or registered trademarks of Riot Games, Inc.</p>
</body>
</html>
