<!DOCTYPE html>
<html lang="en">
    <head>
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-JN8N7WZDPJ"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-JN8N7WZDPJ');
        </script>
        <meta charset="UTF-8">
        <title>Title</title>
        <meta charset="UTF-8">
        <meta property="og:type" content="video.other">
        <meta property="og:video" content="{{ video_url }}">
        <meta property="og:video" content="{{ video_url }}">
        <meta property="og:title" content="{{ title }}">
        <meta property="og:image" content="{{ image }}">
        <meta property="og:description" content="{{ description }}">
        <meta property="og:image:width" content="1280">
        <meta property="og:image:height" content="720">
        <meta property="og:video:width" content="1280">
        <meta property="og:video:height" content="720">
    </head>
    <body>
        <p>This page is a gateway to show the video in Discord's link preview. <a href="{{ video_url }}">Click here</a> to see the video</p>
    </body>
</html>
